:root{
    --primary-100:#FF5722;
    --primary-200:#ff8a50;
    --primary-300:#fff3b0;
    --accent-100:#FF9800;
    --accent-200:#8f3d00;
    --text-100:#212121;
    --text-200:#484848;
    --bg-100:#F5F5F5;
    --bg-200:#ebebeb;
    --bg-300:#c2c2c2;
}